<?xml version="1.0" encoding="UTF-8"?><testng-results failed="0" passed="1" skipped="0" total="1">
<suite duration-ms="5452" name="cucumber.runtime.formatter.TestNGFormatter">
<test duration-ms="5452" name="cucumber.runtime.formatter.TestNGFormatter">
<class name="Checkout items in the basket">
<test-method duration-ms="5452" finished-at="2020-12-16T11:40:44Z" name="Check item total cost and tax" started-at="2020-12-16T11:40:39Z" status="PASS"/>
</class>
</test>
</suite>
</testng-results>
